<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>{% block title %}Review App {% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% load static %}
    <link rel="shortcut icon" type="image/png" href="{% static 'reviewapp/imgs/favicon.png' %}"/>
    <!-- Load style.css -->
    <link rel="stylesheet" type="text/css" href="{% static 'reviewapp/style.css' %}" />
    <!-- Load c3.css -->
    <link rel="stylesheet" type="text/css" href="{% static 'reviewapp/c3/c3.css' %}">
    <!-- Load d3.js and c3.js -->
    <script type="text/javascript" src="{% static 'reviewapp/c3/d3.min.js' %}" charset="utf-8"></script>
    <script type="text/javascript" src="{% static 'reviewapp/c3/c3.min.js' %}" charset="utf-8"></script>
    <!-- Load jquery.js -->
    <script type="text/javascript" src="{% static 'reviewapp/jquery-3.2.1.min.js' %}"></script>

    {% block includes %}{% endblock %}

</head>

<body>

<header class="u-clearfix">
    <div class="logo">
        <a href="/">
            <img src="{% static 'reviewapp/imgs/logo.png' %}">
            <h2>Amazon reviews analytics</h2>
        </a>
    </div>
    <div role="navigation" class="nav-menu-on">
        {% include "reviewapp/_menu.html" %}
    </div>

</header>

<main>

    {% block content %}{% endblock %}

</main>

<footer class="u-clearfix">
    <div class="option">
        <a href="https://github.com/7iacura/uni-food/" target="_blank" rel="noopener">
            <p class="h">GitHub</p>
            <p>https://github.com/7iacura/uni-food/</p>
        </a>
    </div>
    <div class="option">
        <p class="h">Version</p>
        <p>2.3</p>
    </div>
</footer>


{% block jsexec %}

{% endblock %}

</body>

</html>
