{% extends "reviewapp/_base.html" %}

{% block content %}

{% if builted_model %}

<div class="block">
    <p class="title">Dashboard</p>

    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <button type="submit" id="reset" class="left">Reset model</button>
    </form>
    <br>
    <br>
    <table class="tableY">
        <tr><td>Nº words</td><td>{{ words }}</td></tr>
        <tr><td>Nº topics</td><td>{{ topics }}</td></tr>
        <tr><td>Nº iterations</td><td>{{ iterations }}</td></tr>
        <tr><td>Selected users</td>
            <td>
                {% for user in checked_users %}
                <a href="{% url 'user' user %}">
                    <label class="orange pointer">{{ user }}</label>
                </a>
                {% endfor %}
            </td>
        </tr>
    </table>
</div>

{% else %}

<p>No data to display.</p>
<p>Select users to build model.</p>

{% endif %}

{% endblock %}
