<ul>
    {% if request.path == '/reviewapp/users/' %} <li class="active">
    {% else %}<li>
    {% endif %}
        <a href="/reviewapp/users">Users</a>
    </li>
    {% if request.path == '/reviewapp/products/' %} <li class="active">
    {% else %}<li>
    {% endif %}
        <a href="/reviewapp/products">Products</a>
    </li>
    {% if request.path == '/reviewapp/ratings/' %} <li class="active">
    {% else %}<li>
    {% endif %}
        <a href="/reviewapp/ratings">Reviews</a>
    </li>
</ul>
