{% extends "reviewapp/_base.html" %}

{% block content %}

<div class="block">
    {% if objects %}
        <table class="tableX">
            <tr>
                <th>
                    ID
                    <a href="?order_by=id&direction=asc">&#8673;</a>
                    <a href="?order_by=id&direction=desc">&#8675;</a>
                </th>
                <th>
                    Nº reviews
                    <a href="?order_by=num_rating&direction=asc">&#8673;</a>
                    <a href="?order_by=num_rating&direction=desc">&#8675;</a>
                </th>
                <th>
                    Average score
                    <a href="?order_by=av_score&direction=asc">&#8673;</a>
                    <a href="?order_by=av_score&direction=desc">&#8675;</a>
                </th>
                <th>
                    Variance score
                    <a href="?order_by=var_score&direction=asc">&#8673;</a>
                    <a href="?order_by=var_score&direction=desc">&#8675;</a>
                </th>
            </tr>
            {% for product in objects %}
            <a href="">
                <tr>
                    <td><a href="{% url 'product' product.id %}">
                        <label class="blue pointer">{{ product.id }}</label>
                    </a></td>
                    <td>{{ product.num_rating }}</td>
                    <td>{{ product.av_score|floatformat:3 }}</td>
                    <td>{{ product.var_score|floatformat:3 }}</td>
                </tr>
            </a>
            {% endfor %}
        </table>

        {% include "reviewapp/_paginator.html" %}

    {% else %}
        <p>No products found.</p>
    {% endif %}
</div>

{% endblock %}