{% extends "reviewapp/_base.html" %}

{% block content %}
<div class="block">
    {% if objects %}

        <table class="tableX">
            <tr>
                <th class="checkbox">ID</th>
                <!--<th>ID name</th>-->
                <th>Sentiment</th>
                <th>Words</th>
            </tr>
            {% for topic in objects %}
            <tr>
                <td class="checkbox"><a href="{% url 'topic' topic.id %}">{{ topic.id }}</a></td>
                <!--<td>{{ topic.name }}</td>-->
                <td>
                    {% if topic.sentiment == 1 %}
                    <label class="green">Positive</label>
                    {% else %}
                    <label class="red">Negative</label>
                    {% endif %}
                </td>
                <td>
                    {% for word in topic.word_list %}
                    <label class="gray">{{ word }}</label>
                    {% endfor %}
                </td>
            </tr>
            {% endfor %}
        </table>

    {% else %}
        <p>No topics found.</p>
    {% endif %}
</div>
{% endblock %}