{% extends "reviewapp/_base.html" %}

{% block content %}

<div class="block">

    {% if objects %}
        <form method="POST">
        {% csrf_token %}

            {% if not builted_model %}
            <table style="margin-bottom: 15px;">
                <tr>
                    <td>
                        <p>Nº words</p>
                        <input id="words" name="words" type="number" min="5" max="1000" value="10" class="r80">
                    </td>
                    <td>
                        <p>Nº topics</p>
                        <input id="topics" name="topics" type="number" min="1" max="100" value="5" class="r80">
                    </td>
                    <td>
                        <p>Nº iterations</p>
                        <select name="iterations" style="width: 100px;">
                            <option value="10">10</option>
                            <option value="20" selected="selected">20</option>
                            <option value="50">50</option>
                            <option value="100">100</option>
                            <option value="200">200</option>
                        </select>
                    </td>
                    <td>
                        <div class="block2 no-border no-shadow float-right">
                            <button type="submit" id="make-model">Make model from selected users</button>
                        </div>
                    </td>
                </tr>
            </table>
            {% endif %}

            <table id="sortTable" class="tableX">
                <tr>
                    <th class="checkbox">
                        <div class="tooltip">
                            <input type="checkbox" class="pointer" onClick='toggleAll(this)'>
                            <span class="tooltiptext">Toggle all</span>
                        </div>
                        <div class="tooltip">
                            <input type="checkbox" class="pointer" onClick='toggleTop15(this)'>
                            <span class="tooltiptext">Toggle first 15</span>
                        </div>
                    </th>
                    <th>
                        ID
                        <a href="?order_by=id&direction=asc">&#8673;</a>
                        <a href="?order_by=id&direction=desc">&#8675;</a>
                    </th>
                    <th>
                        Nº reviews
                        <a href="?order_by=num_rating&direction=asc">&#8673;</a>
                        <a href="?order_by=num_rating&direction=desc">&#8675;</a>
                    </th>
                    <th>
                        Average score
                        <a href="?order_by=av_score&direction=asc">&#8673;</a>
                        <a href="?order_by=av_score&direction=desc">&#8675;</a>
                    </th>
                    <th>
                        Variance score
                        <a href="?order_by=var_score&direction=asc">&#8673;</a>
                        <a href="?order_by=var_score&direction=desc">&#8675;</a>
                    </th>
                </tr>
                {% for user in objects %}
                <tr>
                    <td class="checkbox">
                        <input type="checkbox" class="inputCheckbox pointer"
                               name="checked_users[]" value="{{ user.id }}">
                    </td>
                    <td><a href="{% url 'user' user.id %}">
                        <label class="orange pointer">{{ user.id }}</label>
                    </a></td>
                    <td>{{ user.num_rating }}</td>
                    <td>{{ user.av_score|floatformat:3 }}</td>
                    <td>{{ user.var_score|floatformat:3 }}</td>
                </tr>
                {% endfor %}
            </table>
        </form>

        {% include "reviewapp/_paginator.html" %}

    {% else %}
        <p>No users found.</p>
    {% endif %}

</div>

<script>
    var asc = True;

    function toggleAll(source) {
        var inputs = document.getElementsByClassName('inputCheckbox');
        for (i = 0; i < inputs.length; i++) {
            inputs[i].checked = source.checked;
        }
    };

    function toggleTop15(source) {
        var inputs = document.getElementsByClassName('inputCheckbox');
        for (i = 0; i < 15; i++) {
            inputs[i].checked = source.checked;
        }
    };
</script>

{% endblock %}