{% extends "reviewapp/base.html" %}

{% block content %}

    {% if objects %}
        <table class="tableX">
            <tr>
                <th>ID</th>
                <th>nº reviews</th>
                <th>Average score</th>
                <th>Variance score</th>
            </tr>
            {% for user in objects %}
            <tr>
                <td><a href="{% url 'user' user.id %}">{{ user.id }}</a></td>
                <td>{{ user.num_rating }}</td>
                <td>{{ user.av_score|floatformat:3 }}</td>
                <td>{{ user.var_score|floatformat:3 }}</td>
            </tr>
            {% endfor %}
        </table>

        {% include "reviewapp/paginator.html" %}

    {% else %}
        <p>No users found.</p>
    {% endif %}

{% endblock %}