{% extends "reviewapp/_base.html" %}

{% block content %}

<div class="block">
    <table class="tableY">
        <tr><td>ID</td><td>{{ user.id }}</td></tr>
        <tr><td>Nº reviews</td><td>{{ user.num_rating }}</td></tr>
        <tr><td>Products</td><td>
            {% for product in user.products %}
            <a href="{% url 'product' product.0 %}"><label class="blue pointer">{{ product.0 }}</label></a>
            {% endfor %}
        </td></tr>
        <tr><td>Average score</td><td>{{ user.av_score }}</td></tr>
        <tr><td>Variance score</td><td>{{ user.var_score }}</td></tr>
        <tr><td>Positive words</td>
            <td>
                {% for word in user.pos_words %}
                <label class="green">{{ word }}</label>
                {% endfor %}
            </td>
        </tr>
        <tr><td>Negative words</td>
            <td>
                {% for word in user.neg_words %}
                <label class="red">{{ word }}</label>
                {% endfor %}
            </td>
        </tr>
    </table>
</div>

{% if review_pie_data %}

<div class="block">

    <p class="title">Review score distribution</p>

    <div id="chartReviews" class="chart"></div>

</div>

{% endif %}

{% if topic_pos %}

<div class="block">

    <p class="title">Positive topics</p>

    <div id="chartPos" class="chart"></div>

    <button id="togglePos">Toggle table</button>

    <table id="tablePos" class="tableY Y2 topics pos">
        {% for topic in topic_pos %}
        <tr>
            <td class="checkbox"></td>
            <td>{{ topic.0.0 }}</td>
            <td><label class="green">{{ topic.0.1 }}</label></td>
            <td>
                {% for word in topic.0.2 %}
                <label class="gray">{{ word }}</label>
                {% endfor %}
            </td>
        </tr>
        {% endfor %}
    </table>

</div>

{% endif %}

{% if topic_neg %}

<div class="block">

    <p class="title">Negative topics</p>

    <div id="chartNeg" class="chart"></div>

    <button id="toggleNeg">Toggle table</button>

    <table id="tableNeg" class="tableY Y2 topics neg">
        {% for topic in topic_neg %}
        <tr>
            <td class="checkbox"></td>
            <td>{{ topic.0.0 }}</td>
            <td><label class="red">{{ topic.0.1 }}</label></td>
            <td>
                {% for word in topic.0.2 %}
                <label class="gray">{{ word }}</label>
                {% endfor %}
            </td>
        </tr>
        {% endfor %}
    </table>

</div>

{% endif %}

<script>

    var chartReviews = c3.generate({
        bindto: '#chartReviews',
        data: {
            columns: {{ review_pie_data|safe }},
            type: 'pie'
        },
        color: {
            pattern: ['#E65C00', '#EA7A08', '#EF9811', '#F4B61A', '#F9D423']
        }
    });

    var chartPos = c3.generate({
        bindto: '#chartPos',
        data: {
            columns: {{ topic_pos_chart|safe }},
            type: 'spline'
        },
        color: {
            pattern: ['#38EF7D', '#23C546', '#0F9B0F', '#0B7B29', '#085B44', '#064B51', '#053B5E', '#032B6B', '#021B79']
        }
    });

    $(document).ready(function(){
        $("#togglePos").click(function(){
            $("#tablePos").toggle();
        });
    });

    var chartNeg = c3.generate({
        bindto: '#chartNeg',
        data: {
            columns: {{ topic_neg_chart|safe }},
            type: 'spline'
        },
        color: {
            pattern: ['#C21500', '#C83200', '#CF4F00', '#D56C00', '#DC8A00', '#E3A700', '#E9C400', '#F0E100', '#F7FF00']
        }
    });

    $(document).ready(function(){
        $("#toggleNeg").click(function(){
            $("#tableNeg").toggle();
        });
    });
</script>

{% endblock %}
